{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kapcsoló Manager</title>
    <link rel="stylesheet" type="text/css" href="{% static 'network/css/style.css' %}">
</head>

<body>
    <!-- Teszt gomb, amely megjeleníti a kapcsolat állapotát és a kapcsolat űrlapot -->
    <button id="test-button" onclick="document.getElementById('container').classList.remove('hide');document.getElementById('connection-status').classList.remove('hide');document.getElementById('connection-container').classList.add('hide')" style="position: fixed; top: 10px; right: 10px">Teszt</button>
    
    <!-- Figyelmeztetések megjelenítésére szolgáló tartály -->
    <div id="alert-container"></div>
    
    <h1>Kapcsoló Manager</h1>
    
    <!-- SSH kapcsolat űrlap -->
    <form id="connection-container" onsubmit="event.preventDefault(); validateForm()">
        <h2 style="text-align: center; margin-top: 0;">SSH csatlakozás</h2>
        <div class="input-group">
            <!-- IP cím és port bevitel -->
            <input type="text" id="ip-input" name="ip-input" placeholder="IP cím" required maxlength="15" pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"/>
            <input type="number" id="port-input" name="port-input" placeholder="Port" required min="0" max="65535"/>
        </div>
        <!-- Felhasználónév és jelszó bevitel -->
        <input type="text" id="username-input" name="username-input" placeholder="Felhasználónév" required/>
        <input type="password" id="password-input" name="password-input" placeholder="Jelszó" required/>
        <input type="password" id="enable-password-input" name="enable-password-input" placeholder="Enable Jelszó"/>
        <button type="submit" id="connect-button">Kapcsolódás</button>
    </form>
    
    <!-- Kapcsolat állapotának megjelenítése -->
    <div id="connection-status" class="connection-status hide">
        <span class="status-dot"></span>
        <span id="connection-message">Kapcsolódva: <span id="connected-ip">0.0.0.0</span>:<span id="connected-port">0</span> (<span id="connected-hostname">Hostname</span>), Típus: <span id="connection-type">SSH</span></span>
        <button id="disconnect-button" onclick="close_connection()" style="background-color: red;">Szétkapcsolás</button>
    </div>
    
    <!-- A fő tartalom, amely a beállításokat és interfészeket tartalmazza -->
    <div id="container" class="hide">
        <div id="interface-list">
            <div>
                <!-- Általános beállítások és VLAN adatbázis megjelenítése -->
                <div class="interface-item" id="general-settings" onclick="showGeneralSettings()">Általános beállítások</div>
            </div>
            <h2>Interfészek</h2>
            <div id="interface-items">
                <!-- Teszt interfész -->
                <div id="interface-test" class="interface-item" onclick="showSettings('test')" data-state="up" data-ip="" data-netmask="" data-swmode="swtrunk" data-swaccessvlan="" data-swtrunkvlan="1,2,3" data-pstype="psstatic" data-psstaticmac="1111:1111:1111:1111:1111" data-psmaxuser="5" data-psviolation="vprotect">Test</div>
                <div id="interface-test" class="interface-item" onclick="showSettings('test')" data-state="up" data-ip="" data-netmask="" data-swmode="swtrunk" data-swaccessvlan="" data-swtrunkvlan="1,2,3" data-pstype="psstatic" data-psstaticmac="1111:1111:1111:1111:1111" data-psmaxuser="5" data-psviolation="vprotect">Test</div>
                <div id="interface-test" class="interface-item" onclick="showSettings('test')" data-state="up" data-ip="" data-netmask="" data-swmode="swtrunk" data-swaccessvlan="" data-swtrunkvlan="1,2,3" data-pstype="psstatic" data-psstaticmac="1111:1111:1111:1111:1111" data-psmaxuser="5" data-psviolation="vprotect">Test</div>
                <!-- Interfészek dinamikus generálása -->
            </div>
        </div>
        <div id="settings">
            <h2>Beállítások</h2>
            <div id="interface-settings">
                <!-- Interfész beállítások dinamikus generálása -->
            </div>
        </div>
    </div>
    
    <!-- JavaScript fájlok betöltése -->
    <script src="{% static 'network/js/connection.js' %}"></script>
    <script src="{% static 'network/js/settings.js' %}"></script>
    <script src="{% static 'network/js/alert.js' %}"></script>
</body>

</html>